body
{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1
{
    color: rebeccapurple;
    text-align: center;
    font-family: cursive;
}

h2
{
    color: rgb(0, 0, 146);
    font-size: 30px;
}

h3
{
    color: rgb(0, 0, 146);
}
.rudiDog
{
    display: block;
    float: left;
    margin-top: -150px;
    border: purple 5px solid;
    caption-side: bottom;
}
figcaption
{
    color: purple;
    font-size: 20px;
    font-family: cursive;
    margin-left: 780px;
    text-align: center;
}
p
{
    color: rgb(0, 0, 146);
    font-size: 20px;
}