body
{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header
{
    color: rgb(0 0 146);
    text-align: center;
    padding: 10px;
}
.text-section
{
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
p
{
    font-size: 20px;
}
.image.container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section {
    display: flex; /* Flexbox makes centering easier */
    flex-direction: column; /* Stacks the image and the caption vertically */
    justify-content: center; /* Centers the image and caption vertically */
    align-items: center; /* Centers the image and caption horizontallys; */
    margin: 0 auto; /* Centers the figure within its container */
    transition: all 400ms;
    
}
.image-section:hover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    transform: scale(1.1); /* Enlarge the image on hover */
}
h1
{
    color: rgb(0, 0, 146);
    font-size: 50px;
    font-family: cursive;
}

h2
{
    color: rgb(0, 0, 146);
    font-size: 30px;
}

figure
{
    border: solid 5px purple;
    border-radius: 10px;
    float: center;
    width: 200px;
}
figcaption
{
    font-size: 20px;
}
.girafeRudi img
{
    border-radius: 10px;
}